<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Time Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="columns">
                <div class="column is-10-desktop is-offset-1-desktop">
                    <p class="title has-text-light is-hidden-mobile">
                        Time Tracker
                    </p>
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-centered is-primary">
                                    Type
                                </th>
                                <th class="has-text-centered is-primary">
                                    Start
                                </th>
                                <th class="has-text-centered is-primary">
                                    End
                                </th>
                                <th class="has-text-centered is-primary">
                                    Hours
                                </th>
                                <th class="has-text-centered is-primary">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="is-hidden-tablet">
                                <td class="has-text-centered is-primary">
                                    <p class="title is-size-3 has-text-white">
                                        Time Tracker
                                    </p>
                                </td>
                            </tr>
                            <tr v-for="(entry, index) in entries" :key="index">
                                <td class="has-text-centered">
                                    <div class="select is-primary">
                                        <select class="has-text-centered tt-is-borderless">
                                            <option v-for="(type, index) in entryTypes" :value="type" :selected="type == entry.type">{{type}}</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="has-text-centered">
                                    <input type="time" class="input is-shadowless" v-model="entry.start">
                                </td>
                                <td class="has-text-centered">
                                    <input type="time" class="input is-shadowless" v-model="entry.end">
                                </td>
                                <td class="has-text-centered">
                                    {{rowHours(entry)}}
                                    <!-- {{entry.hours}} -->
                                </td>
                                <td class="has-text-centered">
                                    <a class="icon has-text-primary" @click="addEntry(index)" title="Add row below.">
                                        <i class="fas fa-fw fa-plus-circle"></i>
                                    </a>
                                    <a class="icon has-text-danger" @click="delEntry(index)" title="Delete row.">
                                        <i class="fas fa-fw fa-times-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="is-primary has-text-centered">
                                    Total:
                                </th>
                                <th class="is-primary"></th>
                                <th class="is-primary has-text-centered">
                                </th>
                                <th class="is-primary has-text-centered">
                                    {{totalHours}}
                                </th>
                                <th class="is-primary"></th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="columns">
                        <div class="column is-narrow">
                            <p class="label has-text-light">Total hours by type:</p>
                            <div class="field has-addons">
                                <div class="control">
                                    <div class="select is-dark">
                                        <select class="has-text-centered tt-is-borderless" v-model="filterSelect">
                                            <option v-for="(type, index) in entryTypes" :value="type">{{type}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control">
                                    <span class="button tt-has-cursor-default">
                                        {{filterHours(filterSelect)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <label class="label has-text-light">Add type:</label>
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Type" v-model="addTypeValue">
                                </div>
                                <div class="control">
                                    <button class="button" title="Add type." @click="addType(addTypeValue)">
                                        <a class="icon has-text-primary" title="Add type.">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <label class="label has-text-light">Remove type:</label>
                            <div class="field has-addons">
                                <!--                                 <div class="control">
                                    <input class="input" type="text" placeholder="Type" v-model="delTypeValue">
                                </div> -->
                                <div class="control">
                                    <div class="select is-dark">
                                        <select class="has-text-centered tt-is-borderless" v-model="delTypeValue">
                                            <option v-for="(type, index) in entryTypes" :value="type">{{type}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control">
                                    <button class="button" title="Remove type." @click="delType(delTypeValue)">
                                        <a class="icon has-text-danger" title="Remove type.">
                                            <i class="fas fa-minus"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="main.js"></script>
</body>

</html>