html {
    background-color: #445;
}

input[type=time] {
    background-color: transparent;
    border: 0;
    max-width: 8.2rem;
}

input[type=time]:hover {
    background-color: rgba(100, 100, 100, 0.1);
}

td, th {
    vertical-align: middle !important;
}

@media only screen and (max-width : 768px) {
    td {
        display:block; box-sizing:border-box; clear:both
    }
    th {
        display: none;
    }
}

.tt-is-borderless {
    border: 0 !important;
}

.tt-has-cursor-default {
    cursor: default !important;
}