html {
    background-color: #445;
}

input[type=time] {
    background-color: transparent;
    border: 0;
    box-shadow: unset;
    max-width: 8.2rem;
}

select {
    background-color: transparent !important;
    border: 0 !important;
}

input[type=time]:hover {
    background-color: rgba(100, 100, 100, 0.1);
}

td, th {
    vertical-align: middle !important;
}

.tt-has-text-white {
    color: #FFF !important;
}