html {
    background-color: #445;
}

input[type=time] {
    background-color: transparent;
    border: 0;
    box-shadow: unset;
    max-width: 8.2rem;
}

td {
    vertical-align: middle !important;
}